<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %> 
  
  <link rel="stylesheet" href="/styles/productCart.css">
  <title>Carrito de compras</title>
  
  <body>
    <%- include('../partials/header') %> 
    <main>
      <form action="" method="POST">
        <section class="tabla1">
          <table>
            <thead>
              <tr>
                <th id="princi">Producto</td>
                <th>Precio</td>
                <th id="canti">Cantidad</td>
                <th>Total</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="princi">Breve descripción</td>
                <td><input type="number"></td>
                <td id="canti">
                  <button type="button" value="-">-</button>
                  <input class="type2" type="number">
                  <button type="button" value="+">+</button>
                </td>
                <td><input type="number"></td>
              </tr>
              <tr>
                <td id="princi">Breve descripción</td>
                <td><input type="number"></td>
                <td id="canti">
                  <button type="button" value="-">-</button>
                  <input class="type2" type="number">
                  <button type="button" value="+">+</button>
                </td>
                <td><input type="number"></td>
              </tr>
              <tr>
                <td id="princi">Breve descripción</td>
                <td><input type="number"></td>
                <td id="canti">
                  <button type="button" value="-">-</button>
                  <input class="type2" type="number">
                  <button type="button" value="+">+</button>
                </td>
                <td><input type="number"></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td id="princi" class="order">
                  <p class="chikita">Numero total de productos</p><input class="type2" type="number">
                </td>
                <td class="align"><input type="number"></td>
                <td id="canti"><input type="number" class="align"></td>
                <td><input type="number"></td>
              </tr>
            </tfoot>
          </table>
        </section>
        <section class="tabla2">
          <table>
            <thead>
              <tr>
                <th>Subtotal</td>
                <th>Precio de envío</td>
                <th>
                  <p>Descuento</p><input class="type2" type="number"></td>
                <th>Agregar cupon</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
                <td><input type="number"></td>
              </tr>
            </tbody>
          </table>
          <div class="btnProduct">
            <button href="">Agregar otro producto</button>
          </div>
        </section>
        <div class="btnFinal">
          <button type="submit">Finalizar compra</button>
        </div>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>

</html>