<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/productDetail.css">
    <script src="Js/detalleProducto.js"></script>

    <title>Detalle del Producto</title>
</head>
<body>
  <!-- <header>
    <div class="topnav">
        <a href="#home" class="active">Logo</a> -->
        <!-- Navigation links (hidden by default) -->
        <!-- <div id="myLinks">
          <a href="#news">Productos</a>
          <a href="#contact">Mis Compras</a>
          <a href="#about">Mi Perfil</a>
        </div> -->
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    
    <div class="logo">
        <img src="/images/logo/logo.png" alt="">
    </div>  
  </header> -->
  <header>
    <div class="header-top">
        <div class="logo">
            <h4>Logo</h4>
        </div>
        <div class="topnav search-bar">
          <div class="topnav"><input type="text" placeholder="Buscar producto..."></div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>


        <!-- For tablet -->
        <div class="option-menu">
          <a><i class="far fa-envelope"></i></a>
          <a><i class="fas fa-shopping-cart"></i></a>
          <i class="far fa-user"></i>
        </div>
      </div>
    <div class="header-bot">
      <div class="menu-search">
        <ul class="nav">
          <li><a href="">Menu-1</a>
              <ul>
                <li><a href="">Sub-Menu 1</a></li>
                <li><a href="">Sub-Menu 2</a></li>
                <li><a href="">Sub-Menu 3</a></li>
              </ul>
            </li>
          <li><a href="">Menu-2</a>
              <ul>
                <li><a href="">Sub-Menu 1</a></li>
                <li><a href="">Sub-Menu 2</a></li>
                <li><a href="">Sub-Menu 3</a></li>
              </ul>
          </li>
          <li><a href="">Menu-3</a>
              <ul>
                <li><a href="">Sub-Menu 1</a></li>
                <li><a href="">Sub-Menu 2</a></li>
                <li><a href="">Sub-Menu 3</a></li>
              </ul>
           </li>
          <li><a href="">Promociones</a></li>

          <li><a href="">Nosotros</a></li>
        </ul>
      </div>
    </div>
</header>
    <main>
        <h6 id="titulo-chocolates">CHOCOLATES  ></h6>
        <section class="section1">
                <img src="/images/1013017.jpg" alt="" width="100%"  id="imagen">
                    <h4 class="choco">Chocolate Cofler Block</h4>
                    <div class="parrafo">
                    <p class="choco"> PRECIO POR UNIDAD: $318</p>
            <p class="choco"> Tableta chocolate leche con maní Cofler Block 170 gr.</p>
        </div>
            <div class="boton">
              <div class="boton-dos"> 
                <button type="button" value="-" class="minus">-</button>
            <input type="number" id="cantidad" class="input-text" step="1" min="1" max="" name="quantity" value="1" title="Cantidad" size="4" placeholder="" inputmode="numeric">
            <button type="button" value="+" class="plus">+</button>
          </div>
            <button type="button" class="agregar-al-carrito">AGREGAR AL CARRITO <i class="fas fa-shopping-cart"></i></button>
            </div>
        </section>
    </main>
    <br>
    <footer>
      <div class="footer-cont">
        <div>
          <p id="footer-text">
            <strong>Endulzá tu inbox!</strong>
            <br> Suscribite a nuestro newsletter
          </p>
          <div class="footer-sus">
            <div class="topnav"><input type="email" placeholder="Email"></div>
          <button class="button"><span>Enviar</span></button>
          </div>
        </div>
        <div class="redes">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-telegram-plane"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    
      <div class="term">
        <p>Política de privacidad | </p><p>Política de cookie | </p> <p>Términos y condiciones | </p> <p>Envíos y devoluciones | </p><p>Nosotros "NiceSweet" | </p>
      </div>
    
    </footer>
    
      </body>
      </html>

</body>
</html>