<footer>
    <div class="footer-cont">
      <div>
        <p>
          <strong>Suscribete a NiceSweet!</strong>
          <br> Y enterate de todas nuestras novedades
        </p>
        <div class="footer-sus">
          <div class="topnav"><input type="email" placeholder="Email"></div>
        <button class="button"><span>Enviar</span></button>
        </div>
      </div>
      <div class="redes">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-telegram-plane"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  
    <div class="term">
      <p>Política de privacidad | </p><p>Política de cookie | </p> <p>Términos y condiciones | </p> <p>Envíos y devoluciones | </p><p>Nosotros "NiceSweet" | </p>
    </div>
  
  </footer>