<header>
    <div class="main-header">
        <a href="/">
            <div class="logo">
                <img src="/images/logo.jpeg" alt="">
            </div>
        </a>
    
    <i class="fas fa-bars burguer-menu-icon" onclick="dropMenu()"></i>
    
    <!-- Menú de navegación mobile-->
    <nav class="navigation-bar" id="navigation-bar-mobile">
        
        <div class="user-icons-mobile">
            <i class="fas fa-user"></i>
            <i class="fas fa-shopping-cart"></i>
        </div> 
        
        <!-- Lista con los elementos del menú (categorías) -->
        <ul class="menu">
            <li class="dropdown-menu" onclick="dropSubCategoryMenu(`choco`)">
                Golosinas
                <i class="fas fa-chevron-down" ></i>
            </li>
            <li class="dropdown-menu"><a href="">Promociones</a></i>
            </li>
            <li class="dropdown-menu"><a href="">Nosotros</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav> 
    
      <!-- Menú de navegación desktop -->
    <nav class="navigation-bar" id="navigation-bar-desktop">
    <!-- Lista con los elementos del menú (categorías) -->
        <ul class="menu">
            <li class="menu-desplegable" onclick="dropSubCategoryMenu(`choco`)">
                Golosinas
                <i class="fas fa-chevron-down" ></i>
            </li>
            <li class="menu-desplegable"><a href="">Promociones</a></li>
            <li class="menu-desplegable"><a href="">Nosotros</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
    </nav> 
    
    <!-- Icono del buscador en header mobile -->
    <div class="search-icon" onclick="dropSearch()">
        <i class="fas fa-search"></i>
    </div>
    
    <!-- Buscador escritorio -->
    <form action="/products/search" method="GET" class="search-form-desktop">
        <div class="search-bar">
            <input type="search" name="busqueda" id="">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>

    <!-- Login/register/admin version desktop -->
    <% if (locals.user) { %>
        <div class="user-icons-desktop">
            <p class="menu-inicio"><a href="/users/profile"><%= locals.user.name %> </a></p>
            <div class="circulo" onclick="dropLogin()">
                <img src="/images/users/<%= user.avatar %>" alt="">
            </div>
            <div class="menu-usuario" id="login-register">
                <a href="/users/profile"><p class="option">Perfil</p></a>
                <% if(locals.user.rol == "1") {%> 
                    <a href="/admin"><p class="option" id="ress">Admin</p></a>
                <% } %> 
                <a href="/users/logout"><p class="option" id="ress">Cerrar sesión</p></a>
            </div>
        </div>

     <%  } else { %>     
    <div class="user-icons-desktop">
        <p class="menu-inicio"><a href="/users/login">Iniciar Sesion</a></p>
        <p class="menu-registro"><a href="/users/register">Registrarse</a></p>
    </div>  
    <% } %>

    <!-- Menu desplegable de loging/register -->

    
    
    </div>
    
    <nav class="nav_menu">        
    <!-- Buscador mobile -->
    
    <form action="/products/search" method="GET" class="search-form-mobile" id="search">
        <div class="search-bar">
            <input type="search" name="busqueda" id="" placeholder="Buscar">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
    
    <!-- Subcategorias desplegables -->
    
    <div class="subcategory_menu" id="choco">
        <div class="subcategory_header"><h3><a href="/products">GOLOSINAS</a></h3><img src="/images/close.png" onclick="closeWindow()" alt=""></div>
        <ul>
            <li><a href="/products/categories/1">Chocolates</a></li>
            <li><a href="/products/categories/2">Alfajores</a></li>
            <li><a href="/products/categories/3">bombones</a></li>
        </ul>
      
    </div>
    

    <div class="subcategory_menu" id="login-register">
        <div class="subcategory_header"><h3>USUARIO</h3><img src="/images/close.png" onclick="closeWindow()" alt=""></div>
        <ul>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
        </ul>
    </div>

    <nav class="nav_menu">

        <!-- Buscador mobile -->
        <form action="/index/search" class="search-form-mobile" id="search">
            <div class="search-bar">
                <input type="search" name="search" id="" placeholder="Buscar">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <!-- Subcategorias desplegables -->
        <div class="subcategory_menu" id="school">
            <div class="subcategory_header">
                <h3>GOLOSINAS</h3><img src="/images/close.png" onclick="closeWindow()" alt="">
            </div>
            <ul>
                <li><a href="">Alfajores</a></li>
                <li><a href="">Chocolates</a></li>
            </ul>
        </div>
    </nav>

</header>

<script src="/Js/header.js"></script>