/* Card */
.card {
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid #00000059;
    width: 90%;
    max-width: 350px;
  }

  
  .card .card-content {border-top: 1px solid #ebebeb;}
  
  .card .card-content .name-product {
    text-align: center;
    margin: 7px 0;
  }
  
  .card .card-content .product-inf {
    display: flex;
    height: 40px;
    justify-content: space-evenly;
  }
  
  .card .card-content .product-inf p:nth-child(1) {flex-grow: 0.3;}
  
  .card .card-content .product-inf p:nth-child(2) {
    color: #39b54a;
    font-size: 14px;
  }
  
  .card .card-content .product-inf p .precio-centrado {text-align: center;}
  
  .section-1,
  .section-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: stretch;
  }
  
  .section-1 .ext,
  .section-2 .ext {display: none;}
  
  .section-1 .ext2,
  .section-2 .ext2 {display: none;}