:root{
    --letra : 'Quicksand' , sans-serif;
    --color-fondo : white;
    --color-celeste : white;
    --color-naranja : white;
    --color-letra : #33475b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--letra);
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}
ul nav{
  display: flex;
  justify-content: space-between;
}
/* Header */

/* Header-top */
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 10px 10px 10px; 
  background-color: #add8e6;
  height: 61px;
}

.header-top .logo{
  background-color: #E2DFDF;
  display: flex;
  width: 25%;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.header-top .tittle{
  display: flex;
  background-color: aquamarine;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.header-top .burger-menu{
  background-color: #0b38429e;
  border: 1px solid black;
  border-radius: 5px;
  text-align : center;
  margin: auto 0;
  padding: 5px;
  width: 33px;
  height: 34px;
}


header .option-menu{
  font-size: 27px;
  padding: 0 5px;
  display: none;
}


.header-bot .menu-search{
  margin: auto;
  width: 550px;
  font-family: Arial, Helvetica, sans-serif;
}


.header-bot{
  background-color: #add8e6;
  height: 50px;
  display: none;
  padding: 5px;
}
.header-bot .nav li a{
  border-radius: 8px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav li a:hover {
  background-color: lightgray;
}

.nav > li{
  float: left;
  margin-left: 5px;
}

.nav li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul{
  display: block;
}

.nav li ul li{
  position: relative;
}

.nav li ul li ul{
  right: -140px;
  top: 0px;
}
/* Search-bar */

.header-top .search-bar input{
  margin-left: 15px;
  width: 85%;
  }
  
  .search-bar input{
  border-radius: 3px;
  height: 27px;
  }

 /* BODY */
    body{
    max-width: 1446px;
    overflow-x: hidden !important;
  } 


/* MAIN */
/* SECTION 1*/



h4{
    font-size: 18px;
    text-align: center;
}
#titulo-chocolates{
    font-size: 20px;
    /* margin : 15px 10px; */
    padding: 10px
  }

.section1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.parrafo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h5 ,
p {
  text-align: center;
}

/* BOTÓN DE COMPRA */

.boton{
    text-align: center;
}
.boton .minus ,
.boton .plus{
    display: inline;
    padding : 2px 10px;
    background-color: var(--color-naranja);
    margin-top: 5px
}

.input-text{
    width: 10%;
    height: 10%;
    padding : 2px 6px;
    text-align: center;
}
.agregar-al-carrito{
    padding : 10px;
    color: white;
    background-color: #f4511e;
    /* border-radius: 20px; */
    border: 1px solid #f4511e;
    margin-top : 10px;

}
p{
    color: black;
}


/*SECTION 2 */
 #ofertas-productos{
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  text-align: left;
  font-size: 25px;
}

.container-card{
  width: 100%;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}
.product h5{
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}

.card{
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 20px;
  
}



.text1{
  font-size: 13px;
  color: #cbcbcb;
  display: block;
}

.info{
  line-height: 17px;
  margin-bottom: 15px;
}



/* card 1 */
.cost span{
  color: tomato;
  font-weight: bold;
  font-size: 20px;
}

.shoe{
  background: #f4511e;
}

.shoe:hover{
  opacity: 0.9;
}

.cursor{
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}




/* SECTION 2 */

 /* #ofertas-productos{
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  text-align: left;
  font-size: 25px;
}
.card{
   height: 90%; 
  margin: 10px;
  padding: 5px
  
}
.card-img-top{
width: 100%; 
  height: 100%; 
  padding: 5px;
  object-fit: cover;
  object-position: center center;
}
.card-title{
  font-size: 14px;
}

.boton-comprar{
  text-align: center;
  padding: 10px 3px 10px
  
}
.boton2{
  border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 21px;
    width: 100px;
    margin: 5px;
    height: 35px;
} */
/* TERMINA SECTION 2 */



/* FOOTER */
.footer-cont {
  text-align: center;
  background-color: #cac1c18a;
  height: 180px;
  /* padding: 25px 0 50px; */
  border-top: 1px solid #cac1c1;
  border-bottom: 1px solid #cac1c1;
  margin-bottom: 20px;
}

footer .footer-sus {
  display: flex;
  margin-bottom: 3px;
  justify-content: center;
  align-items: center;
}

footer .redes {
  display: flex;
  justify-content: center;
}

footer .redes i {
  background-color: white;
  width: 40px;
  padding: 7px;
  font-size: 24px;
  margin-right: 10px;
  border-radius: 18px;
}

/* Term-Footer */
footer .term {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

footer .term p {
  display: inline-block;
  font-size: 13px;
  text-align: center;
}

.topnav input[type=email],
.topnav input[type=text] {
  float: center;
  padding: 6px;
  border: none;
  margin-right: 5px;
  font-size: 17px;
}

footer .button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 21px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 35px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {padding-right: 25px;}

.button:hover span:after {
  opacity: 1;
  right: 0;
}  


  /* MEDIA QUERIES */

  @media (min-width: 576px){
    .container {
      max-width: 540px;
      }
    }
    
  /* TABLET */

  @media (min-width: 768px) {
    .container{
      max-width: 720px;
      }
    .burger-menu{
      display: none;
    }
    
    header .option-menu{
      display: inline-block;
    }
    
    header .search-bar{
      flex-grow: 0.7;
    }
    
    .header-bot{
      display: block;
    }
    main .section1 h4{
          font-size: 25px;
          width: 100%
    }
    main .section1 .parrafo p{
      font-size: 25px;
      width: 100%
    }
    main .section1 #imagen{
      max-width: 70%;
    }
    main #titulo-chocolates{
      font-size: 25px;
      margin : 15px 10px
    }
.footer-cont p{
  font-size: 20px;
}

.footer-sus .topnav input{
  width: 270px;
}

footer .redes i{
  font-size: 30px;
  width: 50px;
  padding: 5px;
}

footer .term p{
  font-size: 15px;
}
.menu-search .nav{
  display: flex;
  justify-content: space-between;
}
  }


  /* DESKTOP */
  @media (min-width: 1024px){
    .header-bot .menu-search{
      width: 1000px;
    }
    
    .menu-search .nav{
      display: flex;
      justify-content: space-between;
    }
    
    .menu-search .nav > li{
      margin-left: 50px;
    }
    
    main #titulo-chocolates{
      font-size: 25px;
      margin : 15px 10px
    }
    main .section1 #imagen{
      max-width: 65%;
    }
    main .section1 h4{
      font-size: 29px;
    }
    main .section1 .parrafo p{
      font-size: 29px;
    }
    .container{
      max-width: 960px;
      }
  }



  
  
    
    