:root{
    --letra : 'Quicksand' , sans-serif;
    --color-fondo : white;
    --color-celeste : white;
    --color-naranja : white;
    --color-letra : #33475b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--letra);
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}
ul nav{
  display: flex;
  justify-content: space-between;
}
/* Header */

/* Header-top */
.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 10px 10px 10px; 
  background-color: #add8e6;
  height: 61px;
}

.header-top .logo{
  background-color: #E2DFDF;
  display: flex;
  width: 25%;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.header-top .tittle{
  display: flex;
  background-color: aquamarine;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.header-top .burger-menu{
  background-color: #0b38429e;
  border: 1px solid black;
  border-radius: 5px;
  text-align : center;
  margin: auto 0;
  padding: 5px;
  width: 33px;
  height: 34px;
}


header .option-menu{
  font-size: 27px;
  padding: 0 5px;
  display: none;
}


.header-bot .menu-search{
  margin: auto;
  width: 550px;
  font-family: Arial, Helvetica, sans-serif;
}


.header-bot{
  background-color: #add8e6;
  height: 50px;
  display: none;
  padding: 5px;
}
.header-bot .nav li a{
  border-radius: 8px;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav li a:hover {
  background-color: lightgray;
}

.nav > li{
  float: left;
  margin-left: 5px;
}

.nav li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul{
  display: block;
}

.nav li ul li{
  position: relative;
}

.nav li ul li ul{
  right: -140px;
  top: 0px;
}
/* Search-bar */

.header-top .search-bar input{
  margin-left: 15px;
  width: 85%;
  }
  
  .search-bar input{
  border-radius: 3px;
  height: 27px;
  }

/* HEADER */
/* header{
    background-color: lightblue;
    height: 60px;
}

.header-top{
    display: flex;
    justify-content: space-between;
} */

/* Estilos del menú de navegación*/
 /* .topnav {
    overflow: hidden;
    background-color : lightblue;
    position: relative;
  } */
   
  /* Oculta los links dentro del menu de navegación */
  /* .topnav #myLinks {
    display: none;
  }  */
  
  /* Estilos a los links del menú de navegación */
  /* .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }  */
  
  /* Estilos a la hamburguesa*/
  /* .topnav a.icon {
    background: white;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
  }  */
  
  /* Agrega color gris al fondo cuando clickeás */
  /* .topnav a:hover { 
    background-color : grey; 
     color:white;
  }  */
  
  /* Estilos del menú desplegable  */
  /* .active {
    background-color: lightblue;
    color: white;
  } */


/* MAIN */
/* SECTION 1*/



h4{
    font-size: 18px;
    text-align: center;
}

.section1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.parrafo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  text-align: center;
}

h6{
    margin-left: 8px;
    margin-top: 5px;
    text-align: left;
}



.boton{
    text-align: center;
}
.boton .minus ,
.boton .plus{
    display: inline;
    padding : 2px 10px;
    background-color: var(--color-naranja);
    margin-top: 5px
}

.input-text{
    width: 10%;
    height: 10%;
    padding : 2px 6px;
    text-align: center;
}
.agregar-al-carrito{
    padding : 10px;
    color: black;
    background-color: var(--color-naranja);
    margin-top : 10px;

}
p{
    color: black;
}


/* FOOTER */
footer #footer-text{
  font-size: 16px;
}
.footer-cont{
  text-align: center;
  background-color: #cac1c18a;
  height: 180px;
  padding: 25px 0 50px;
  border-top: 1px solid #cac1c1;
  border-bottom: 1px solid #cac1c1;
  margin-bottom: 20px;
  }
  
  footer .footer-sus{
    display: flex;
    margin-bottom: 3px;
    justify-content: center;
    align-items: center;
  }
  
  footer .redes{
    display: flex;
    justify-content: center;
    
  }
  
  footer .redes i{
    background-color: white;
    width: 40px;
    padding: 7px;
    font-size: 24px;
    margin-right: 10px;
    border-radius: 18px;
  }
  
  /* Term-Footer */
  footer .term{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  footer .term p{
    display: inline-block;
    font-size: 13px;
    text-align: center;
  }
  
  .topnav input[type=email],
  .topnav input[type=text] {
  float: center;
  padding: 6px;
  border: none;
  margin-right: 5px;
  font-size: 17px;
  }
  
  footer .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 21px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 35px;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  /* MEDIA QUERIES */
  /* TABLET */
  @media (min-width: 768px) {
    .burger-menu{
      display: none;
    }
    
    header .option-menu{
      display: inline-block;
    }
    
    header .search-bar{
      flex-grow: 0.7;
    }
    
    .header-bot{
      display: block;
    }
    main .section1 h4{
          font-size: 25px;
          width: 100%
    }
    main .section1 .parrafo p{
      font-size: 25px;
      width: 100%
    }
    main .section1 #imagen{
      max-width: 70%;
    }
.footer-cont p{
  font-size: 20px;
}

.footer-sus .topnav input{
  width: 270px;
}

footer .redes i{
  font-size: 30px;
  width: 50px;
  padding: 5px;
}

footer .term p{
  font-size: 15px;
}
.menu-search .nav{
  display: flex;
  justify-content: space-between;
}
  }


  /* DESKTOP */
  @media (min-width: 1024px){
    .header-bot .menu-search{
      width: 1000px;
    }
    
    .menu-search .nav{
      display: flex;
      justify-content: space-between;
    }
    
    .menu-search .nav > li{
      margin-left: 50px;
    }
    
    main #titulo-chocolates{
      font-size: 25px;
      margin : 15px 10px
    }
    main .section1 #imagen{
      max-width: 65%;
    }
    main .section1 h4{
      font-size: 29px;
    }
    main .section1 .parrafo p{
      font-size: 29px;
    }
  }
