:root {
    --color-rosaOscuro: #E97171;
    --color-azul: #0A1D37;
    --color-aqua: #9AD3BC;
    --color-amarrillo: #F3EAC2;
    --color-grisClaro: #C4C4C4;
    --color-purpura : #BA135D;
    --color-verdeAgua : #99D8D0
  }

