<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Stylesheets -->
     <link rel="stylesheet" href="/styles/register.css">    <title>¡Bienvenido a Nice Sweet!</title>
     <!-- Font-Google -->
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap" rel="stylesheet">
     <!-- Font awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
  <header>
    <div class="header-top">
        <div class="logo">
            <h4>Logo</h4>
        </div>
        <div class="topnav search-bar">
          <div class="topnav"><input type="text" placeholder="Buscar producto..."></div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>


        <!-- For tablet -->
        <div class="option-menu">
          <a><i class="far fa-envelope"></i></a>
          <a><i class="fas fa-shopping-cart"></i></a>
          <i class="far fa-user"></i>
        </div>
      </div>
    <div class="header-bot">
      <div class="menu-search">
        <ul class="nav">
          <li><a href="">Menu-1</a>
              <ul>
                <li><a href="">Sub-Menu 1</a></li>
                <li><a href="">Sub-Menu 2</a></li>
                <li><a href="">Sub-Menu 3</a></li>
              </ul>
            </li>
          <li><a href="">Menu-2</a>
              <ul>
                <li><a href="">Sub-Menu 1</a></li>
                <li><a href="">Sub-Menu 2</a></li>
                <li><a href="">Sub-Menu 3</a></li>
              </ul>
          </li>
          <li><a href="">Menu-3</a>
              <ul>
                <li><a href="">Sub-Menu 1</a></li>
                <li><a href="">Sub-Menu 2</a></li>
                <li><a href="">Sub-Menu 3</a></li>
              </ul>
           </li>
          <li><a href="">Promociones</a></li>

          <li><a href="">Nosotros</a></li>
        </ul>
      </div>
    </div>
</header>
    <main>
      <!-- <div class="register-div"> -->

     
        <form action="">
        
            <h1>¡ Regístrate !</h1>
           
   
               <div class="grupo">
               <input type="text" name="" id="" required><span class="barra"></span>
               <label>Nombre/s</label>
               </div>
       
   
               <div class="grupo">
               <input type="text" name="" id="" required><span class="barra"></span>
               <label>Apellido/s</label>
               </div>


              <div class="grupo">
               <input type="number" name="" id="" required><span class="barra"></span>
               <label>Teléfono</label>
               </div>
               

               <div class="grupo">
                <input type="date" name="" id="" required><span class="barra"></span>
                    <label id="fd">Fecha de nacimiento</label>
                 </div>   

                <div class="grupo">
                    <input type= "text" name="" id="" required><span class="barra"></span>
                        <label>Domicilio </label>
                 </div> 
                 
                <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Localidad</label>
                </div>   

                <div class="grupo">
                    <input type="number" name="" id="" required><span class="barra"></span>
                        <label>Código Postal</label>
                     </div>   
               
               <div class="grupo">
               <input type="email" name="" id="" required><span class="barra"></span>
               <label>E-mail</label>
               </div>


               <div class="grupo">  
               <input type="text" name=""  id="" required> <span class="barra"></span>
               <label>Password</label>
               </div> 

               <div class="grupo">
                 <input type="text" name="" id=""required><span class="barra"></span>
                 <label>Repita su Password</label>
               </div>

               </div>
   
   
       
               <button type="submit"><strong>Enviar</strong></button>
           
       </form> <!-- </div> -->

       <!-- FORMULARIO DE INGRESO -->
       <div class="login-div">
       <form class="form-log-in" action="">
        
        <h1>¡ Ingresa !</h1>
       

           
           <div class="grupo">
           <input type="email" name="" id="" required><span class="barra"></span>
           <label>E-mail</label>
           </div>
           
           <div class="grupo">
           <input type="password" name="" id="" required><span class="barra"></span>
           <label>Password</label>
           </div>

           </div>

   
           <button class="login-div" type="submit"><strong>Ingresar</strong></button>
           
          </form> </div>
 
    </main>

    <footer>
        <div class="footer-cont">
            <div>
              <p>
                <strong>Suscribete a NiceSweet!</strong>
                <br> Y enterate de todas nuestras novedades
              </p>
              <div class="footer-sus">
                <div class="topnav"><input type="email" placeholder="Email"></div>
              <button class="button"><span>Enviar</span></button>
              </div>
            </div>
            <div class="redes">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-telegram-plane"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-youtube"></i>
            </div>
          </div>
        
          <div class="term">
            <p>Política de privacidad | </p><p>Política de cookie | </p> <p>Términos y condiciones | </p> <p>Envíos y devoluciones | </p><p>Nosotros "NiceSweet" | </p>
          </div>
    </footer>
</body>
</html>